<div class="container-fluid">
    <div class="col-2" style="float: left !important; margin-top: -90px !important; margin-bottom: 90px !important;">
        <app-menu></app-menu>
    </div>
    <div class=" col-10 " style="float: right !important; margin-top: -90px !important; margin-bottom: 90px !important;">
        <H1>Detalle Rol</H1>
        <!-- <p *ngIf="empleado"> Hola {{empleado.nombre}} </p> -->

        <form #updateForm="ngForm" (ngSubmit)="onSubmit(updateForm)" class="contactForm title" style="background: none !important" *ngIf="estadoCivil">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Ingresa el nombre del rol" #nombre="ngModel" [(ngModel)]="estadoCivil.nombre" required/>
                <br>
                <p-message *ngIf="nombre.touched && !nombre.valid" severity="error" text="El  campo de nombre no es valido"></p-message>

            </div>
            <div class="form-group">
                <label for="clvRol">Clave</label>
                <input type="text" class="form-control" name="clvEstadoCivil" id="clvRol" placeholder="Ingresa la clave del estado civil" #clvEstadoCivil="ngModel" [(ngModel)]="estadoCivil.clvEstadoCivil" required/>
                <br>
                <p-message *ngIf="clvEstadoCivil.touched && !clvEstadoCivil.valid" severity="error" text="El  campo de apellido paterno no es valido"></p-message>

            </div>
            <div class="form-group">
                <label for="fechaCreacion">Fecha de creación</label>
                <input type="text" class="form-control" name="fechaCreacion" id="fechaCreacion" placeholder="Ingresa el apellido paterno del empleado" #fechaCreacion="ngModel" [(ngModel)]="estadoCivil.fechaCreacion" readonly required/>
                <br>
                <p-message *ngIf="fechaCreacion.touched && !fechaCreacion.valid" severity="error" text="El  campo de  fecha de creacion no es valido"></p-message>

            </div>

            <div class="form-group">
                <label for="tipo">Tipo</label>
                <input type="text" class="form-control" name="tipo" id="tipo" placeholder="Ingresa el usuario de empleado" #tipo="ngModel" [(ngModel)]="estadoCivil.tipo" required />
                <br>
                <p-message *ngIf="tipo.touched && !tipo.valid" severity="error" text="El  campo de usuario no es valido"></p-message>

            </div>


            <div class="col-xs-12">
                <!-- [disabled]="!contactForm.form.valid" Button -->
                <a class="btn btn-primary" (click)="onSubmit(updateForm)">Enviar</a>
                <!-- <button type="submit" id="submit" name="submit" pButton label="Enviar" class="btn btn-primary" [disabled]="!contactForm.form.valid"></button> -->

            </div>

        </form>
        <p *ngIf="!estadoCivil">
            loading
        </p>

    </div>
</div>