<div class="container-fluid">
    <div class="col-2" style="float: left !important; margin-top: -90px !important; margin-bottom: 90px !important;">
        <app-menu></app-menu>
    </div>
    <div class=" col-10 " style="float: right !important; margin-bottom: -90px !important;" *ngIf="roles">
        <H1>Roles</H1>
        <p-table #dt [columns]="cols" [value]="roles" selectionMode="multiple" [(selection)]="selectedRoles" [paginator]="true" [rows]="100">
            <ng-template pTemplate="caption">
                <div class="ui-helper-clearfix">
                    <button type="button" pButton icon="fa fa-file" iconPos="left" label="Descargar todos" (click)="dt.exportCSV()" style="float:left"></button>
                    <button type="button" pButton icon="fa fa-file" iconPos="left" label="Descargar seleccion" (click)="dt.exportCSV({selectionOnly:true})" style="float:right"></button>
                </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Clave</th>
                    <th>Permisos</th>
                    <th>Tipo</th>
                    <th>Ultima actualizacion</th>
                    <th>Acciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [pSelectableRow]="rowData">
                    <td>
                        {{rowData.idRol}}
                    </td>
                    <td>
                        {{rowData.nombre}}
                    </td>
                    <td>
                        {{rowData.clvRol}}
                    </td>
                    <td>
                        <button [routerLink]="['/intra/catalogos/roles/permisos' , rowData.clvRol] "> 
                            Permisos
                        </button>
                        <!-- {{rowData.permisos}} -->
                    </td>
                    <td>
                        {{rowData.tipo}}
                    </td>
                    <td>
                        {{rowData.ultimaActualizacion | date}}
                    </td>
                    <!-- <td *ngFor="let col of columns">
                        {{rowData[col.field]}}
                    </td> -->
                    <td>
                        <a pTooltip="Editar" tooltipPosition="top" class="pointer editar" [routerLink]="['/intra/catalogos/roles/detalle-rol' , rowData.clvRol] "><i class="fas fa-edit" ></i></a>
                        <a pTooltip="Ver" tooltipPosition="top" class="pointer visualizar" [routerLink]="['/intra/catalogos/roles/vista-rol' , rowData.clvRol] "><i class="fas fa-eye" ></i></a>
                        <a pTooltip="Desactivar" tooltipPosition="top" class="pointer activado" *ngIf="rowData.activo" style="color:red !important; background: none !important;" (click)="desactivar(false,rowData.clvRol,rowData)"><i class="fas fa-times-circle"></i></a>
                        <a pTooltip="Activar" tooltipPosition="top" class="pointer desactivado" *ngIf="!rowData.activo" style="color:green !important; background: none !important;" (click)="desactivar(true,rowData.clvRol,rowData)"><i class="fas fa-check-circle"></i></a>


                        <!-- <a pTooltip="Desactivar" tooltipPosition="top" class="pointer" *ngIf="rowData.activo" style="background: none !important;" (click)="cambiarEstado(false,empleado.clvEmpledo,empleado)"><i class="fas fa-times-circle"></i></a>
                      <a pTooltip="Activar" tooltipPosition="top" class="pointer" *ngIf="!empleado.activo" style="background: none !important;" (click)="cambiarEstado(true,empleado.clvEmpledo,empleado)"><i class="fas fa-check-circle"></i></a> -->
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <p *ngIf="!roles" class="text-center" style="margin-top: 100px !important">
        <p-progressSpinner></p-progressSpinner>
    </p>
</div>
<p-dialog header="Actualizar" [(visible)]="desAct" [modal]="true" [responsive]="true" [style]="{width: '350px', minWidth: '200px'}" [minY]="70" [maximizable]="true" [baseZIndex]="10000">
    <p>¿Desea cambiar su estado?</p>
    <p-footer>
        <button type="button" pButton icon="pi pi-check" (click)="cambiarEstado(cambio)" label="Actualizar"></button>
        <button type="button" pButton icon="pi pi-close" (click)="desAct=false" label="Salir" class="ui-button-secondary"></button>
    </p-footer>
</p-dialog>|