<div style="margin-top: 50px ">
    <div class="jumbotron" style="border-radius: 20px;">
        <div class="row">
            <div class="col-12 .col-lg-4 text-center">
                <img src="assets/img/logo.png" alt="">

            </div>
            <!-- <div class="col-12 .col-lg-4">
                <h1 class="display-4 text-center">Ambulancias Humana</h1>
            </div> -->
        </div>

        <h3 class="lead text-justify">Empresa joven que desde sus inicios se preocupó por brindar un servicio de atención médica pre-hospitalaria de urgencia y de traslado, actualmente es líder en servicios pre hospitalario con un alto grado de profesionalismo y calidad con más de
            25 años de experiencia en el mercado en servicios integrales para la salud. Nuestro principal objetivo es el proveer a nuestros afiliados y clientes, un servicio médico de urgencia y de traslado profesional, confiable y de calidad.</h3>
        <hr class="my-4">
        <!-- <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p> -->
    </div>

</div>


<br>