<div class="container-fluid">
    <div class="col-2" style="float: left !important; margin-top: -90px !important; margin-bottom: 90px !important;">
        <app-menu></app-menu>
    </div>
    <div class=" col-10 " style="float: right !important; margin-top: -90px !important; margin-bottom: 90px !important;">
        <H1>Registrar empleado</H1>
        <p-messages [(value)]="msgs"></p-messages>
        <form #createForm="ngForm" class="contactForm title" style="background: none !important" *ngIf="empleado">
            <div class="form-group">
                <label for="nombre">Nombre(s)</label>
                <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Ingresa el nombre del empleado" #nombre="ngModel" [(ngModel)]="empleado.nombre" pattern="[a-z]+" required/>
                <br>
                <p-message *ngIf="nombre.touched && !nombre.valid" severity="error" text="El  campo de nombre es requerido"></p-message>

            </div>
            <div class="form-group">
                <label for="apellidoPaterno">Apellido Paterno</label>
                <input type="text" class="form-control" name="apellidoPaterno" id="apellidoPaterno" placeholder="Ingresa el apellido paterno del empleado" #apellidoPaterno="ngModel" pattern="[a-z]+" [(ngModel)]="empleado.apellidoPaterno" required/>
                <br>
                <p-message *ngIf="apellidoPaterno.touched && !apellidoPaterno.valid" severity="error" text="El  campo de apellido paterno es requerido"></p-message>

            </div>
            <div class="form-group">
                <label for="apellidoMaterno">Apellido Materno</label>
                <input type="text" class="form-control" name="apellidoMaterno" id="apellidoMaterno" placeholder="Ingresa el apellido paterno del empleado" #apellidoMaterno="ngModel" pattern="[a-z]+" [(ngModel)]="empleado.apellidoMaterno" required/>
                <br>
                <p-message *ngIf="apellidoMaterno.touched && !apellidoMaterno.valid" severity="error" text="El  campo de apellido materno es requerido"></p-message>

            </div>
            <div class="form-group" *ngIf="createForm.valid">
                <label for="clvEmpleado">Clave empleado</label>
                <input type="text" class="form-control" name="clvEmpleado" id="clvEmpleado" placeholder="Ingresa la clave de empleado" #clvEmpleado="ngModel" [(ngModel)]="empleado.clvEmpleado" readonly required/>
                <br>
                <p-message *ngIf="clvEmpleado.touched && !clvEmpleado.valid" severity="error" text="El  campo de apellido materno es requerido"></p-message>

            </div>
            <div class="form-group">
                <label for="usuario">Usuario</label>
                <input type="text" class="form-control" name="usuario" id="usuario" placeholder="Ingresa el usuario de empleado" #usuario="ngModel" [(ngModel)]="empleado.usuario" required/>
                <br>
                <p-message *ngIf="usuario.touched && !usuario.valid" severity="error" text="El  campo de usuario es requerido"></p-message>

            </div>
            <div class="form-group">
                <label for="correoEmpleado">Correo</label>
                <input type="email" class="form-control" name="correoEmpleado" id="correoEmpleado" #correoEmpleado="ngModel" [(ngModel)]="empleado.correoEmpleado" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" required/>
                <br>
                <p-message *ngIf="correoEmpleado.touched && !correoEmpleado.valid" severity="error" text="El  campo de email no es valido"></p-message>

            </div>
            <div class="form-group">
                <label for="password">Contraseña</label>
                <input type="password" class="form-control" name="password" id="password" #password="ngModel" [(ngModel)]="empleado.password" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" placeholder="Mayuscula, minuscula, numero o caracter tamaño 8 caracteres"
                    required/>
                <br>
                <p-message *ngIf="password.touched && !password.valid" severity="error" text="El  campo de usuario es requerido"></p-message>

            </div>

            <div class="form-group">
                <label for="rolEmpleado">Rol</label>
                <select class="form-control" name="rolEmpleado" id="rolEmpleado" #rolEmpleado="ngModel" [(ngModel)]="empleado.rolEmpleado" required>
            <option *ngFor="let rol of roles;"  value="{{rol.clvRol}}" style="background: none !important;">{{rol.nombre}}</option>
            
          </select>
            </div>
            <div class="col-12 text-center">
                <button type="button" class="btnAct" (click)="confirmacion()" [disabled]="!createForm.valid" pButton icon="pi pi-info-circle" label="Registrar"></button>

                <button type="button" class="btnCan" [routerLink]="['/intra/empleados']" pButton icon="pi pi-info-circle" label="Salir"></button>

            </div>

        </form>
        <p *ngIf="!empleado" class="text-center" style="margin-top: 100px !important">
            <p-progressSpinner></p-progressSpinner>
        </p>
    </div>

</div>


<p-dialog header="Registrar" [(visible)]="ingresar" [modal]="true" [responsive]="true" [style]="{width: '350px', minWidth: '200px'}" [minY]="70" [maximizable]="true" [baseZIndex]="10000">
    <p>¿Desea ingrear el registro?</p>
    <p-footer>
        <button type="button" pButton icon="pi pi-check" (click)="onSubmit(empleado)" label="Registrar"></button>
        <button type="button" pButton icon="pi pi-close" (click)="actualizar=false" label="Salir" class="ui-button-secondary"></button>
    </p-footer>
</p-dialog>