<div class="container-fluid">
    <div class="col-2" style="float: left !important; margin-top: -90px !important; margin-bottom: 90px !important;">
        <app-menu></app-menu>
    </div>
    <div class=" col-10 " style="float: right !important; margin-top: -90px !important; margin-bottom: 90px !important;">
        <H1>Vista Sitio</H1>

        <form #updateForm="ngForm" class="contactForm title" style="background: none !important" *ngIf="sitio">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Ingresa el nombre de la sitio" #nombre="ngModel" [(ngModel)]="sitio.nombre" readonly required/>
                <br>
                <p-message *ngIf="nombre.touched && !nombre.valid" severity="error" text="El  campo de nombre no es valido"></p-message>

            </div>
            <div class="form-group">
                <label for="clvSitio">Clave</label>
                <input type="text" class="form-control" name="clvSitio" id="clvSitio" placeholder="Ingresa la clave de la sitio" #clvSitio="ngModel" [(ngModel)]="sitio.clvSitio" readonly required/>
                <br>
                <p-message *ngIf="clvSitio.touched && !clvSitio.valid" severity="error" text="El  campo de la calve no es valido"></p-message>

            </div>
            <div class="form-group">
                <label for="direccion">Direccion</label>
                <textarea class="form-control" rows="5" name="direccion" id="direccion" placeholder="Ingresa la direccion del sitio" #direccion="ngModel" [(ngModel)]="sitio.direccion" required></textarea>
                <br>
                <p-message *ngIf="direccion.touched && !direccion.valid" severity="error" text="El  campo de la direccion no es valido"></p-message>

            </div>
            <div class="form-group">
                <label for="telefono">Telefono</label>
                <input type="text" class="form-control" name="telefono" id="telefono" placeholder="Ingresa el telefono del sitio" #telefono="ngModel" [(ngModel)]="sitio.telefono" readonly required/>
                <br>
                <p-message *ngIf="telefono.touched && !telefono.valid" severity="error" text="El  campo del telefono no es valido"></p-message>

            </div>
            <div class="form-group">
                <label for="fechaCreacion">Fecha de Creacion</label>
                <input type="text" class="form-control" name="fechaCreacion" id="fechaCreacion" placeholder="Ingresa la fecha de creacion de la sitio" #fechaCreacion="ngModel" [(ngModel)]="sitio.fechaCreacion" readonly required/>
                <br>
                <p-message *ngIf="fechaCreacion.touched && !fechaCreacion.valid" severity="error" text="El  campo de la fecha de creacion no es valido"></p-message>

            </div>
            <div class="form-group">
                <label for="ultimaActualizacion">Ultima actualizacion</label>
                <input type="text" class="form-control" name="ultimaActualizacion" id="ultimaActualizacion" placeholder="Ingresa la fecha de la ultima actualizacion de la sitio" #ultimaActualizacion="ngModel" [(ngModel)]="sitio.ultimaActualizacion" readonly required/>
                <br>
                <p-message *ngIf="ultimaActualizacion.touched && !ultimaActualizacion.valid" severity="error" text="El  campo de la fecha de creacion no es valido"></p-message>

            </div>

            <div class="col-xs-12">
                <!-- [disabled]="!contactForm.form.valid" Button -->
                <a class="btn btn-primary" [routerLink]="['/intra/sitios']">Enviar</a>
                <!-- <button type="submit" id="submit" name="submit" pButton label="Enviar" class="btn btn-primary" [disabled]="!contactForm.form.valid"></button> -->
            </div>

        </form>
        <p *ngIf="!sitio" class="text-center" style="margin-top: 100px !important">
            <p-progressSpinner></p-progressSpinner>
        </p>

    </div>
</div>