<div class="container-fluid">
    <div class="col-2" style="float: left !important; margin-top: -90px !important; margin-bottom: 90px !important;">
        <app-menu></app-menu>
    </div>
    <div class=" col-10 " style="float: right !important; margin-top: -90px !important; margin-bottom: 90px !important;">
        <H1>Registrar Ambulancia</H1>
        <p-messages [(value)]="msgs"></p-messages>
        <form #createForm="ngForm" class="contactForm title" style="background: none !important" *ngIf="ambulancia">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Ingresa el nombre de la ambulancia" #nombre="ngModel" [(ngModel)]="ambulancia.nombre" attern="[a-z]+" required/>
                <br>
                <p-message *ngIf="nombre.touched && !nombre.valid" severity="error" text="El  campo de nombre no es valido"></p-message>

            </div>
            <div class="form-group">
                <label for="clvAmbulancia">Clave de ambulancia</label>
                <input type="text" class="form-control" name="clvAmbulancia" id="clvAmbulancia" placeholder="Ingresa la clave de la ambulancia" #clvAmbulancia="ngModel" [(ngModel)]="ambulancia.clvAmbulancia" [minLength]="5" [maxLength]="5" required/>
                <br>
                <p-message *ngIf="clvAmbulancia.touched && !clvAmbulancia.valid" severity="error" text="El  campo de clave de ambulancia no es valido"></p-message>

            </div>
            <div class="form-group">
                <label for="placa">Placa</label>
                <input type="text" class="form-control" name="placa" id="placa" placeholder="Ingresa la placa de la ambulancia" #placa="ngModel" [(ngModel)]="ambulancia.placa" required/>
                <br>
                <p-message *ngIf="placa.touched && !placa.valid" severity="error" text="El  campo de placa de ambulancia no es valido"></p-message>

            </div>
            <div class="form-group">
                <label for="numeroEconomico">Numero economico</label>
                <input type="text" class="form-control" name="numeroEconomico" id="numeroEconomico" placeholder="Ingresa el numero economico de la ambulancia" #numeroEconomico="ngModel" [(ngModel)]="ambulancia.numeroEconomico" pattern="[0-9]+" required/>
                <br>
                <p-message *ngIf="numeroEconomico.touched && !numeroEconomico.valid" severity="error" text="El  campo de numero economico de ambulancia no es valido"></p-message>

            </div>
            <div class="form-group">
                <label for="marca">Marca</label>
                <input type="text" class="form-control" name="marca" id="marca" placeholder="Ingresa el numero economico de la ambulancia" #marca="ngModel" [(ngModel)]="ambulancia.marca" required/>
                <br>
                <p-message *ngIf="marca.touched && !marca.valid" severity="error" text="El  campo de placa de la ambulancia no es valido"></p-message>

            </div>
            <div class="form-group">
                <label for="modelo">Modelo</label>
                <input type="text" class="form-control" name="modelo" id="modelo" placeholder="Ingresa el modelo de la ambulancia" #modelo="ngModel" [(ngModel)]="ambulancia.modelo" [minlength]="4" [maxLength]="4" pattern="[0-9]+" required/>
                <br>
                <p-message *ngIf="modelo.touched && !modelo.valid" severity="error" text="El  campo de modelo de la ambulancia no es valido"></p-message>

            </div>


            <div class="col-12 text-center">
                <button type="button" class="btnAct" (click)="confirmacion()" [disabled]="!createForm.valid" pButton icon="pi pi-info-circle" label="Registrar"></button>

                <button type="button" class="btnCan" [routerLink]="['/intra/empleados']" pButton icon="pi pi-info-circle" label="Salir"></button>

            </div>

            <!-- <div class="col-xs-12">
                <button class="btn btn-primary" (click)="onSubmit(createForm)" [disabled]="!createForm.valid">Enviar</button>
                <a class="btn btn-danger">Salir</a>
            </div> -->
        </form>
        <p *ngIf="!ambulancia" class="text-center" style="margin-top: 100px !important">
            <p-progressSpinner></p-progressSpinner>
        </p>
    </div>

</div>
<p-dialog header="Registrar" [(visible)]="ingresar" [modal]="true" [responsive]="true" [style]="{width: '350px', minWidth: '200px'}" [minY]="70" [maximizable]="true" [baseZIndex]="10000">
    <p>¿Desea ingrear el registro?</p>
    <p-footer>
        <button type="button" pButton icon="pi pi-check" (click)="onSubmit(ambulancia)" label="Registrar"></button>
        <button type="button" pButton icon="pi pi-close" (click)="actualizar=false" label="Salir" class="ui-button-secondary"></button>
    </p-footer>
</p-dialog>