<div style="margin-top: 50px ">
    <div class="jumbotron" style="border-radius: 20px;">
        <div class="row">
            <div class="col-12 .col-lg-4 text-center">
                <img src="assets/img/logo.png" alt="">

            </div>
            <div class="col-12 .col-lg-4">
                <h1 class="display-4 text-center">Servicios</h1>
            </div>
        </div>

        <!-- <h3 class="lead text-justify">Empresa joven que desde sus inicios se preocupó por brindar un servicio de atención médica pre-hospitalaria de urgencia y de traslado, actualmente es líder en servicios pre hospitalario con un alto grado de profesionalismo y calidad con más de
            25 años de experiencia en el mercado en servicios integrales para la salud. Nuestro principal objetivo es el proveer a nuestros afiliados y clientes, un servicio médico de urgencia y de traslado profesional, confiable y de calidad.</h3> 
        <hr class="my-4"> -->
        <!-- <p>It uses utility classes for typography and spacing to space content out within the larger container.</h3> 
        <h3 class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </h3>  -->
    </div>

</div>
<p-tabView class="animated fadeIn bottom-10">
    <p-tabPanel header="Urgencias Medicas">
        <div class="row">

            <div class="col-3 text-center" style="background: #FF5722">
                <img src="assets/img/services/urgencias.png" style="margin-top: 20px; margin-bottom: 20px;">
            </div>

            <div class="col-9">
                <h3 class="text-justify">
                    Situaciones en las que, se requiere una rapida intervencion Médiaca, para calmar el sintoma o prevenir complicaciones mayores.
                </h3>
            </div>
        </div>

    </p-tabPanel>
    <p-tabPanel header="Terapía intensiva">
        <div class="row">
            <div class="col-3 text-center" style="background: #FF5722">
                <img src="assets/img/services/terapia.png" style="margin-top: 20px; margin-bottom: 20px;">
            </div>
            <div class="col-9">
                <h3 class="text-justify">
                    Son aquellos cuidados intensivos que se le proporciona a un paciente que se encuentra en estado critico, para eser trasladado al hospital.
                </h3>
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Traslado sencillo">
        <div class="row">
            <div class="col-3 text-center" style="background: #FF5722">
                <img src="assets/img/services/traslados.png" style="margin-top: 20px; margin-bottom: 20px;">
            </div>
            <div class="col-9">
                <h3 class="text-justify">
                    Traslado de pacientes a su domicilio por altas hospitalarias, consulta recurrente o algun tipo de estudios médicos.
                </h3>
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Consulta medica">
        <div class="row">
            <div class="col-3 text-center" style="background: #FF5722">
                <img src="assets/img/services/consultas.png" style="margin-top: 20px; margin-bottom: 20px;">
            </div>
            <div class="col-9">
                <h3 class="text-justify">
                    Atención medica del paciente en su domicilio, con la finalidad de evitar su traslado.
                </h3>
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Cobertura de eventos">
        <div class="row">
            <div class="col-3 text-center" style="background: #FF5722">
                <img src="assets/img/services/eventos.png" style="margin-top: 20px; margin-bottom: 20px;">
            </div>
            <div class="col-9">
                <h3 class="text-justify">
                    Cobertura médica para los distintos tipos de eventos, tales como caminatasmcarreras, deportivos , conciertos, etc.
                </h3>
            </div>
        </div>

    </p-tabPanel>
    <p-tabPanel header="Ambulancias de traslado">
        <div class="row">
            <div class="col-3 text-center" style="background: #FF5722">
                <img src="assets/img/services/ambulanciasTranslado.png" style="margin-top: 20px; margin-bottom: 20px;">
            </div>
            <div class="col-9">
                <h3 class="text-justify">
                    Traslado del paciente fuera del lugar de residencia con albulancias de traslado especializado en pacientes graves y estables.
                </h3>
            </div>
        </div>

    </p-tabPanel>
    <p-tabPanel header="Asesoría medica telefonica">
        <div class="row">
            <div class="col-3 text-center" style="background: #FF5722">
                <img src="assets/img/services/telefono.png" style="margin-top: 20px; margin-bottom: 20px;">
            </div>
            <div class="col-9">
                <h3 class="text-justify">
                    Estamos siempre cerca de ti, sin importar el día o la hora, los 365 días del año contarás con la mejor consulta médica telefónica.
                </h3>
            </div>
        </div>

    </p-tabPanel>
    <p-tabPanel header="Custodia Medica">
        <div class="row">
            <div class="col-3 text-center" style="background: #FF5722">
                <img src="assets/img/services/custodias.png" style="margin-top: 20px; margin-bottom: 20px;">
            </div>
            <div class="col-9">
                <h3 class="text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga iure assumenda reiciendis quam provident quod quo nulla veniam voluptas soluta, quibusdam quos ut, tempore nesciunt delectus. Harum officiis cupiditate dolore. Lorem ipsum,
                    dolor sit amet consectetur adipisicing elit. Fuga iure assumenda reiciendis quam provident quod quo nulla veniam voluptas soluta, quibusdam quos ut, tempore nesciunt delectus. Harum officiis cupiditate dolore.
                </h3>
            </div>
        </div>

    </p-tabPanel>
    <p-tabPanel header="Membresias Medicas">
        <div class="row">
            <div class="col-3 text-center" style="background: #FF5722">
                <img src="assets/img/services/membresias.png" style="margin-top: 20px; margin-bottom: 20px;">
            </div>
            <div class="col-9">
                <h3 class="text-justify">
                    Diseñada ára atende cualquier eventualidad medica, las 24 horas, los 365 dias. (Individualesm duales, familiares o empresariales).
                </h3>
            </div>
        </div>

    </p-tabPanel>
</p-tabView>